COMPOSE_PROJECT_NAME=webshop_183
PASSWORD_PEPPER=commitsigned
DB_HOST=localhost
DB_PORT=6033
PORT=8080
DB_USER=db_user
DB_PASS=db_password
DB_NAME=webshop
JWT_SECRET=papierToiletteDeLETML
JWT_EXPIRES_IN=20m